.main-container-description{
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 100%;
    padding: 25px;
}

.container-title{
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    margin-right: 30px;
}

.container-description{
    display: flex;
    align-items: flex-end;
    justify-content: end;
    width: 50%;
    height: 50%;
    margin-left: 30px;
}